@page "/"
@using HaxorByteClub.Apps
@using HaxorByteClub.Models
@inject IJSRuntime _js

<PageTitle>Home</PageTitle>
<div id="wallpaper"></div>
<ul class="menu-bar" role="menu-bar">
	<li role="menu-item" class="li-icon" tabindex="0" aria-haspopup="true">
		<div class="flex">
			<img src="img/icon.png" alt="Logo" class="logo">
		</div>
		<ul role="menu">
			<li role="menu-item" @onclick="ToggleAboutVersion"><a href="">About</a></li>
			<li role="menu-item" @onclick="ToggleDisplayProperties"><a href="">Display Properties</a></li>
			<li role="menu-item" class="divider"><a href="">Socials</a></li>
			<li role="menu-item"><a href="http://hxbc-shop.fourthwall.com" target="_blank">HXBC {swag}</a></li>
		</ul>
	</li>
	<li class="date-time-container" tabindex="0" aria-haspopup="true">
		<div class="date-time">
			<div class="current-time" id="currentTime"></div>
			<div class="current-date" id="currentDate"></div>
		</div>
	</li>
</ul>

<div class="desktop-icons">
	<div id="audio-player-icon" class="desktop-icon" @onclick="ToggleAudioPlayer">
		<img src="img/player-icon.png" alt="player icon">
		<span>Audio Player</span>
	</div>
	<div id="contact-form-icon" class="desktop-icon" @onclick="ToggleContactForm">
		<img src="img/contact-icon.png" alt="contact form icon">
		<span>Contact Us</span>
	</div>
	<div id="about-icon" class="desktop-icon" @onclick="ToggleAbout">
		<img src="img/info-icon.png" alt="about icon">
		<span>About</span>
	</div>
	<div id="guestbook-icon" class="desktop-icon" @onclick="ToggleGuestBook">
		<img src="img/guestbook-icon.png" alt="guestbook icon">
		<span>Guestbook</span>
	</div>
	<div id="hacker-news-icon" class="desktop-icon" @onclick="ToggleHackerNews">
		<img src="img/hn-icon.png" alt="hacker news icon">
		<span>Hacker News</span>
	</div>
	<div id="editor-icon" class="desktop-icon" @onclick="ToggleEditor">
		<img src="img/editor-icon.png" alt="editor icon">
		<span>Editor</span>
	</div>
</div>

@foreach (var app in _apps)
{
	@if (app is Welcome welcome)
	{
		<Welcome AppId="@app.AppId" />
	}
	else if (app is Default d)
	{
		<Default AppId="@app.AppId" />
	}
	else if (app is AudioPlayer audioPlayer)
	{
		<AudioPlayer AppId="@app.AppId" />
	}
	else if (app is ContactForm contact)
	{
		<ContactForm AppId="@app.AppId" />
	}
	else if (app is GuestBook guestBook)
	{
		<GuestBook AppId="@app.AppId" />
	}
	else if (app is AboutVersion version)
	{
		<AboutVersion AppId="@app.AppId" />
	}
	else if (app is DisplayProperties display)
	{
		<DisplayProperties AppId="@app.AppId" />
	}
	else if (app is HackerNews hn)
	{
		<HackerNews AppId="@app.AppId" />
	}
	else if (app is Editor editor)
	{
		<Editor AppId="@app.AppId" Text="@editor.Text" Title="@editor.Title" />
	}
}

@code
{
	List<AppBase> _apps = new();

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await _js.InvokeVoidAsync("setupClock");
			await _js.InvokeVoidAsync("setupIconDrag");
		}
	}

	protected override void OnInitialized()
	{
		base.OnInitialized();
		WeakReferenceMessenger.Default.Register<RemoveAppMessage>(this, OnRemoveApp);
		WeakReferenceMessenger.Default.Register<AddAppMessage>(this, OnAddApp);
		WeakReferenceMessenger.Default.Register<ShowEditorMessage>(this, OnShowEditorMessage);

	}

	void ToggleAudioPlayer()
	{
		if (_apps.Any(a => a is AudioPlayer))
		{
			var app = _apps.FirstOrDefault(a => a is AudioPlayer);
			BringToFront(app.AppId).SafeFireAndForget();
		}
		else
		{
			_apps.Add(new AudioPlayer() { AppId = Guid.NewGuid().ToString() });
		}
	}

	void ToggleContactForm()
	{
		if (_apps.Any(a => a is ContactForm))
		{
			var app = _apps.FirstOrDefault(a => a is ContactForm);
			BringToFront(app.AppId).SafeFireAndForget();
		}
		else
		{
			_apps.Add(new ContactForm() { AppId = Guid.NewGuid().ToString() });
		}
	}

	void ToggleAbout()
	{
		if (_apps.Any(a => a is Welcome))
		{
			var app = _apps.FirstOrDefault(a => a is Welcome);
			BringToFront(app.AppId).SafeFireAndForget();
		}
		else
		{
			_apps.Add(new Welcome() { AppId = Guid.NewGuid().ToString() });
		}
	}

	void ToggleGuestBook()
	{
		if (_apps.Any(a => a is GuestBook))
		{
			var app = _apps.FirstOrDefault(a => a is GuestBook);
			BringToFront(app.AppId).SafeFireAndForget();
		}
		else
		{
			_apps.Add(new GuestBook() { AppId = Guid.NewGuid().ToString() });
		}
	}

	void ToggleAboutVersion()
	{
		if (_apps.Any(a => a is AboutVersion))
		{
			var app = _apps.FirstOrDefault(a => a is AboutVersion);
			BringToFront(app.AppId).SafeFireAndForget();
		}
		else
		{
			_apps.Add(new AboutVersion() { AppId = Guid.NewGuid().ToString() });
		}
	}

	void ToggleDisplayProperties()
	{
		if (_apps.Any(a => a is DisplayProperties))
		{
			var app = _apps.FirstOrDefault(a => a is DisplayProperties);
			BringToFront(app.AppId).SafeFireAndForget();
		}
		else
		{
			_apps.Add(new DisplayProperties() { AppId = Guid.NewGuid().ToString() });
		}
	}

	void ToggleHackerNews()
	{
		if (_apps.Any(a => a is HackerNews))
		{
			var app = _apps.FirstOrDefault(a => a is HackerNews);
			BringToFront(app.AppId).SafeFireAndForget();
		}
		else
		{
			_apps.Add(new HackerNews() { AppId = Guid.NewGuid().ToString() });
		}
	}
	void ToggleEditor()
	{
		_apps.Add(new Editor()
		{
			AppId = Guid.NewGuid().ToString(),
			Text = string.Empty,
			Title = $"Editor"
		});
		StateHasChanged();
	}


	async Task BringToFront(string id)
	{
		await _js.InvokeVoidAsync("bringToFront", id);
	}

	void OnRemoveApp(object sender, RemoveAppMessage message)
	{
		var app = _apps.FirstOrDefault(a => a.AppId == message.AppId);
		if (app != null)
		{
			_apps.Remove(app);
			StateHasChanged();
		}
	}

	void OnAddApp(object sender, AddAppMessage message)
	{
		switch (message.Type)
		{
			case AppType.AudioPlayer:
				ToggleAudioPlayer();
				break;
			case AppType.ContactForm:
				ToggleContactForm();
				break;
			case AppType.GuestBook:
				ToggleGuestBook();
				break;
			case AppType.HackerNews:
				ToggleHackerNews();
				break;
			case AppType.Welcome:
				ToggleAbout();
				break;
			case AppType.AboutVersion:
				ToggleAboutVersion();
				break;
			case AppType.DisplayProperties:
				ToggleDisplayProperties();
				break;
			case AppType.Editor:
				ToggleEditor();
				break;
			default:
				break;
		}
		StateHasChanged();

	}

	private async void OnShowEditorMessage(object recipient, ShowEditorMessage message)
	{
		EditorLaunchSettings launchSettings = message.Value;
		_apps.Add(new Editor()
		{
			AppId = Guid.NewGuid().ToString(),
			Text = launchSettings.Text,
			Title = launchSettings.Title
		});
		InvokeAsync(StateHasChanged);
	}
}